@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
.element-wrapper {
  position: fixed;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.element {
  width: 50px;
  height: 50px;
  background: #2563eb;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

.loading {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  top: 50%;
  margin-top: 25px;
  position: absolute;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes translateIn {
  30% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg)
      translateZ(20px) scale(0.95);
    opacity: 0.25;
  }

  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg)
      translateZ(0px) scale(0.85);
    opacity: 0;
  }
}

@keyframes translateIn {
  30% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg)
      translateZ(20px) scale(0.95);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px)
      scale(0.95);
    opacity: 0.25;
  }

  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg)
      translateZ(0px) scale(0.85);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px)
      scale(0.85);
    opacity: 0;
  }
}

.element {
  opacity: 0;
}

.element:nth-of-type(1) {
  -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg)
    translateZ(30px);
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(30px);
  -webkit-animation: translateIn 1.5s ease-in infinite 500ms;
  animation: translateIn 1.5s ease-in infinite 500ms;
}

.element:nth-of-type(2) {
  -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg)
    translateZ(60px);
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(60px);
  -webkit-animation: translateIn 1.5s ease-in infinite 700ms;
  animation: translateIn 1.5s ease-in infinite 700ms;
}

.element:nth-of-type(3) {
  -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg)
    translateZ(90px);
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(90px);
  -webkit-animation: translateIn 1.5s ease-in infinite 800ms;
  animation: translateIn 1.5s ease-in infinite 800ms;
}

@-webkit-keyframes scaleIn {
  80% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
  }
}

@keyframes scaleIn {
  80% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
  }
}

.large-square {
  width: 70px;
  height: 70px;
  background: #2563eb;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
  -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
  opacity: 0;
  -webkit-animation: scaleIn 3s linear infinite 500ms;
  animation: scaleIn 3s linear infinite 500ms;
}

.skeleton {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.skeleton .square {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}
.skeleton .line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
.skeleton .linemod {
  height: 12px;
  margin-bottom: 6px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(230, 230, 230, 0.2)),
    color-stop(18%, rgba(230, 230, 230, 0.3)),
    color-stop(33%, rgba(230, 230, 230, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.2) 8%,
    rgba(230, 230, 230, 0.3) 18%,
    rgba(230, 230, 230, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
.skeleton .linebad {
  height: 12px;
  margin-bottom: 6px;
  background: rgba(130, 130, 130, 0.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.1)),
    color-stop(18%, rgba(130, 130, 130, 0.2)),
    color-stop(33%, rgba(130, 130, 130, 0.1))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.1) 8%,
    rgba(130, 130, 130, 0.2) 18%,
    rgba(130, 130, 130, 0.1) 33%
  );
  animation: wave-lines 12s infinite ease-out;
}
.skeleton-right {
  flex: 1;
}
.skeleton-left {
  flex: 1;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.skeleton .line:last-child {
  margin-bottom: 0;
}
.h8 {
  height: 8px !important;
}
.h10 {
  height: 10px !important;
}
.h12 {
  height: 12px !important;
}
.h15 {
  height: 15px !important;
}
.h17 {
  height: 17px !important;
}
.h20 {
  height: 20px !important;
}
.h25 {
  height: 25px !important;
}
.h30 {
  height: 30px !important;
}
.w25 {
  width: 25% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w75 {
  width: 75% !important;
}
.w70 {
  width: 70px !important;
}
.m10 {
  margin-bottom: 10px !important;
}
.circle {
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
